<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Pdfkit</th>
      <th>Weasyprint</th>
      <th>Rails_pdf</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to 'Pdfkit', pdfkit_games_path(format: :pdf) %></td>
        <td><%= link_to 'Weasyprint', weasyprint_games_path(format: :pdf) %></td>
        <td><%= link_to 'Rails_pdf', rails_pdf_games_path(format: :pdf) %></td>

      </tr>
  </tbody>
</table>
